@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
h2 {
  color: lightcyan;
  text-transform: uppercase;
}

.aboutcontainer {
  font-family: "Montserrat";
  color: lightcyan;
  /* background-color: lightgray; */
  /* position: fixed; */
  top: 15%;
  left: 5%;
  width: 50%;
  border-style: solid;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;
  /* transform: translate(-50%, -50%); */
  /* border-bottom-left-radius: 8px;
   */
   display:inline-block;
   float:left;
   margin:50px;
}
.aboutvideo {
  /* position: fixed; */
  display:inline-block;
  top: 15%;
  left: 50%;
  float:right;
  margin:50px;
}
