@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  display: gird;
  background: url("../../photos/lawless-capture-XKvXTRi_13g-unsplash.jpeg");
  background-size: cover;
}

.folderContainer {
  font-family: "Montserrat";
  color: lightcyan;
  position: fixed;
  top: 30%;
  left: 10%;
}
.canvasContainer {
  font-family: "Montserrat";
  color: lightcyan;
  position: fixed;
  top: 60%;
  left: 10%;
}
