.cards {
  /* padding-top: 25px; */
  /* padding-bottom: 50px; */
  /* justify-content: center; */
  transition: 0.3s;
  width: 250px;
  height: 200px;
  border-style:solid;
  /* margin:20px; */
  display: inline-block;
  padding:20px;
}
