<!-- 

<form action="{{ url_for('process') }}" method="post">
	<input type="file" id="file" name="filename"  />

    <input type="submit" />
</form> -->

<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data action="{{ url_for('process') }}">
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

<br>
<br>

<audio controls src="data:audio/wav;base64, {{ value }}"></audio>

<br> 
<br>

<p> 

    {% for item in arr %}
        {{item}}
    {% endfor %}

 </p>

